<ion-view view-title="Acerca de La Agendica">
  <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="evimage" src="https://raw.githubusercontent.com/jrub/LaAgendica/master/resources/icon.png">
                <a ng-show="platform == 'ios'" ng-hide="is_app" href="https://itunes.apple.com/es/app/laagendica-agenda-cultural/id1046044148">
                  <img alt="Download on App Store" class="evimage margin-top"
                       src="img/Download_on_the_App_Store_Badge_ES_135x40.svg" />
                </a>
                <a ng-show="platform == 'android'" ng-hide="is_app" class="col" href="https://play.google.com/store/apps/details?id=com.slothdevs.laagendica">
                  <img alt="Get it on Google Play" class="evimage margin-top"
                       src="https://developer.android.com/images/brand/es_generic_rgb_wo_60.png" />
                </a>
                <a ng-show="platform == 'windowsphone'" ng-hide="is_app" ng-click="addToHomeAlert()">
                  <img src="https://cmsresources.windowsphone.com/devcenter/en-us/legacy_v1/img/badgegenerator/Spanish_wstore_rev_cyan_258x67.png" alt="Download from Windows Store" />
                </a>
                <pre class="evpre nobottom">
LaAgendica es un proyecto sin ánimo de lucro y de código abierto, que puedes consultar en <a href="https://github.com/jrub/LaAgendica" target="_blank">Github</a>. LaAgendica utiliza las fuentes de datos abiertos proporcionadas por el Ayuntamiento de Zaragoza, para más información consultar: <a href="http://datosabiertos.zaragoza.es" target="_blank">datosabiertos.zaragoza.es</a>

LaAgendica está disponible como App para Android y iPhone, pero puedes usarla como WebApp desde el navegador en cualquier plataforma, así que... ¡pásales la web a tus amigos!: <a href="http://www.laAgendica.com" target="_blank">www.LaAgendica.com</a>


La exactitud de los datos depende del Ayuntamiento, para consultas relativas a ellos contacte con <a href="mailto:webmunicipal@zaragoza.es" target="_blank">webmunicipal@zaragoza.es</a> o bien el teléfono 010. Para cualquier otra consulta o propuesta sobre la aplicación, puede escribir a <a href="mailto:info@laagendica.com" target="_blank">info@laAgendica.com</a>.

La App es Open Source, y la mantenemos en nuestro tiempo libre ¿Nos ayudas a difundirla?
                </pre>
            </div>
                <div class="item tabs tabs-icon-bottom">
                    <a class="tab-item item-text-wrap" href="https://twitter.com/intent/tweet?text=¿Aún no conoces @LaAgendica? ¡Todos los eventos de la ciudad en la palma de tu mano! www.laAgendica.com&hashtags=Zaragoza,LaAgendica" target="_blank">
                        <i class="icon ion-social-twitter-outline positive"></i>
                      Difunde en Twitter
                    </a>
                    <a class="tab-item item-text-wrap" href="https://github.com/jrub/LaAgendica" target="_blank">
                        <i class="icon ion-social-octocat"></i>
                      Ver código fuente
                    </a>
                    <a class="tab-item item-text-wrap" href="https://www.youtube.com/watch?v=ns5yrGtIQEk" target="_blank">
                        <i class="icon ion-social-youtube assertive"></i>
                      Ver vídeo
                    </a>
                    <a class="tab-item item-text-wrap" href="https://twitter.com/intent/follow?screen_name=LaAgendica&lang=es" target="_blank">
                        <i class="icon ion-social-twitter positive"></i>
                      Síguenos en Twitter
                    </a>
              </div>

        </div>
      <br/><br/>
  </ion-content>
</ion-view>
