<ion-view view-title="Destacados de La Agendica">
  <ion-content>
    <ion-list ng-show="hayEventos">
      <ion-item class="item-thumbnail-left" collection-repeat="evento in eventos" href="#/app/destacado/{{$index}}">

        <img ng-show="evento.image.value !== 'http:'" ng-src="{{evento.image.value}}"/>
        <img class="list-thumb" ng-show="evento.image.value === 'http:'" src='https://raw.githubusercontent.com/jrub/LaAgendica/master/resources/icon.png'/>

        <h2>{{evento.title.value}}</h2>
        <h3 class="evpre" ng-show="evento.lugar">{{evento.lugar.value}}</h3>
        <p>Hasta el {{evento.endDate.value | date:'longDate'}}</p>
      </ion-item>
    </ion-list>
    <div class="list card" ng-hide="hayEventos" style="text-align:center">
      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-android-sad"></i>
        {{textoNoContent}}
      </a>
    </div>
  </ion-content>
</ion-view>
