<ion-view view-title="Evento">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar item-text-wrap item-icon-left energized">
        <i class="icon ion-star"></i>
        <h2>{{evento.title}}</h2>
        <h3 class="evpre" ng-show="evento.nombrelugar_t">{{evento.nombrelugar_t}}</h3>
      </div>

      <div class="item item-body">
        <!-- si es fav, y ha venido de Destacados, y no tiene img, llevará 'http:' y saldrá rota -->
        <img class="evimage" ng-show="evento.imagen_s && evento.imagen_s !== 'http:'" ng-src="{{evento.imagen_s}}"/>
        <img class="evimage" ng-show="evento.imagen_s == '' || evento.imagen_s === undefined || evento.imagen_s === 'http:'" src='https://raw.githubusercontent.com/jrub/LaAgendica/master/resources/icon.png'/>

        <pre class="evpre" ng-bind-html="evento.descripcion_t"></pre>

        <h3 class="liso">Horario: </h3>
          <div class="evpre pegado" ng-show="evento.horario_t" ng-bind-html="evento.horario_t"></div>
          <div class="evpre pegado">Del {{evento.fechaInicio_dt | date:'dd-MMM-yy'}} al {{evento.fechaFinal_dt | date:'dd-MMM-yy'}}</div>
          <p ng-hide="evento.horario_t">Información no disponible</p>
        <h3 class="liso">Precio: </h3>
          <div class="evpre pegado" ng-show="evento.entrada_t" ng-bind-html="evento.entrada_t"></div>
          <div class="evpre pegado" ng-hide="evento.entrada_t">Información no disponible</div>
        <h3 class="liso">Dirección: </h3>
          <div class="evpre pegado" ng-show="evento.nombrelugar_t">{{evento.nombrelugar_t}} <br> {{evento.direccionlugar_t}}</div>
          <div class="evpre pegado" ng-show="evento.telefonolugar_t">{{evento.telefonolugar_t}}</div>
          <p ng-hide="evento.nombrelugar_t">Información no disponible</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-model="evento.fav" ng-click="gestionarFavorito({{evento}})" >
            <i class="icon ion-star" ng-class="{energized: evento.fav}"></i>
            Favorito
        </a>
        <a class="tab-item" ng-click="shareFn('Echa un vistazo a este evento que encontré en @LaAgendica #Zaragoza #LaAgendica', evento.uri)">
          <i class="icon ion-share"></i>
          Compartir
        </a>
        <a class="tab-item" ng-click="abrir(evento.uri)">
          <i class="icon ion-earth"></i>
          Ver Web
        </a>
        <a ng-show="evento.coordenadas_p_0_coordinate" class="tab-item" ng-click="navigate(evento.coordenadas_p_0_coordinate, evento.coordenadas_p_1_coordinate)">
          <i class="icon ion-map"></i>
          Ruta
        </a>
      </div>

    </div>
    <br/><br/>
  </ion-content>
</ion-view>
