<ion-view view-title="Evento">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar item-text-wrap">
        <img src="{{evento.imagen_s}}">
        <h2>{{evento.title}}</h2>
        <p>Del {{evento.fechaInicio_dt | date:'dd-MMM-yy'}} al {{evento.fechaFinal_dt | date:'dd-MMM-yy'}}</p>
      </div>

      <div class="item item-body">
        <img class="evimage" src="{{evento.imagen_s}}">
        <pre class="evpre" ng-bind-html="evento.description"></pre>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-model="evento.fav" ng-click="gestionarFavorito({{evento}})" >
            <i class="icon ion-star" ng-class="{energized: evento.fav}"></i>
            Favorito
        </a>
        <!-- <a class="tab-item" href="https://twitter.com/intent/tweet?text=Echa un vistazo a este evento que encontré en @LaAgendica {{evento.uri}}&hashtags=Zaragoza,LaAgendica"> -->
          <!-- <i class="icon ion-social-twitter"></i> -->
          <!-- Twittear -->
        <!-- </a> -->
        <a class="tab-item" ng-click="shareFn('Echa un vistazo a este evento que encontré en @LaAgendica #Zaragoza #LaAgendica', evento.uri)">
          <i class="icon ion-share"></i>
          Compartir
        </a>
        <a class="tab-item" href="{{evento.uri}}" target="_blank">
          <i class="icon ion-share"></i>
          Ver Web
        </a>
        <a ng-show="evento.coordenadas_p_0_coordinate" class="tab-item" ng-click="navigate(evento.coordenadas_p_0_coordinate, evento.coordenadas_p_1_coordinate)">
          <i class="icon ion-map"></i>
          Ruta
        </a>
      </div>

    </div>
    <br/><br/>
  </ion-content>
</ion-view>
