<ion-view view-title="La Agendica - {{eventos.nav}}">
  <ion-content>
    <ion-list ng-show="hayEventos">
      <ion-item class="item-text-wrap" ng-repeat="evento in eventos" href="#/app/evento/{{$index}}">
        {{evento.title}}
      </ion-item>
    </ion-list>
    <div class="list card assertive" ng-hide="eventos" style="text-align:center">
      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-android-sad"></i>
        {{textoNoContent}}
      </a>
    </div>
  </ion-content>
</ion-view>
