<ion-view view-title="Eventos de Hoy">
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-repeat="evento in eventos | orderBy : 'startTime.value'" href="#/app/hoy/{{evento.id.value}}">
        <img ng-show="evento.image" src="http:{{evento.image.value}}"/>
        <img class="list-thumb" ng-hide="evento.image" src='https://raw.githubusercontent.com/jrub/LaAgendica/master/resources/icon.png'/>
        <h2>{{evento.title.value}}</h2>
        <p ng-show="evento.startTime.value">{{evento.startTime.value}} <span ng-show="evento.endTime.value">a</span> {{evento.endTime.value}}</p>
        <p ng-hide="evento.startTime.value">Múltiples horarios</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
