<ion-view view-title="Eventos de Hoy">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" collection-repeat="evento in eventos | orderBy : 'startTime.value'" href="#/app/hoy/{{evento.id.value}}">
        <img ng-show="evento.image" src="http:{{evento.image.value}}"/>
        <img class="list-thumb" ng-hide="evento.image" src='https://raw.githubusercontent.com/jrub/LaAgendica/master/resources/icon.png'/>
        <h2>{{evento.title.value}}</h2>
        <h3 class="evpre" ng-show="evento.lugar">{{evento.lugar.value}}</h3>
        <p ng-show="evento.startTime.value">{{evento.startTime.value}} <span ng-show="evento.endTime.value">a</span> {{evento.endTime.value}}</p>
        <p ng-hide="evento.startTime.value">Múltiples horarios</p>
      </ion-item>
    </ion-list>
    <div class="list card assertive" ng-hide="eventos" style="text-align:center">
      <a href="#" class="item item-icon-left item-text-wrap">
        <i class="icon ion-android-sad"></i>
        {{textoNoContent}}
      </a>
    </div>
  </ion-content>
</ion-view>
