<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Eventos en Zaragoza</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/destacados" class="item item-icon-left assertive">
          <i class="icon ion-arrow-graph-up-right"></i>
          Destacados
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.favoritos" class="item item-icon-left energized">
          <i class="icon ion-star"></i>
          Favoritos
        </ion-item>
        <ion-item nav-clear menu-close ng-click="openMap()" class="item item-icon-left positive">
          <i class="icon ion-map"></i>
          Mapa de Favoritos
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.semana-santa" class="item item-icon-left royal">
          <div class="icon drum"></div>
          Semana Santa
        </ion-item>
        <div class="item item-divider">
            <!-- Información -->
        </div>
        <ion-item nav-clear menu-close href="#/app/eventos/tecnologia" class="item item-icon-left">
          <i class="icon ion-ios-at"></i>
          Tecnología
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/eventos/teatro" class="item item-icon-left">
          <i class="icon ion-chatbubbles"></i>
          Teatro
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/eventos/musica"  class="item item-icon-left">
          <i class="icon ion-music-note"></i>
          Musica
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/eventos/exposiciones%20y%20museos" class="item item-icon-left">
          <i class="icon ion-paintbrush"></i>
          Exposiciones y Museos
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/eventos/gastronomia" class="item item-icon-left">
          <i class="icon ion-pizza"></i>
          Gastronomía
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/eventos/danzas%20Bailes" class="item item-icon-left">
          <i class="icon ion-android-walk"></i>
          Danzas y Bailes
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/eventos/medio%20ambiente" class="item item-icon-left">
          <i class="icon ion-leaf"></i>
          Medio Ambiente
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/eventos/deportes" class="item item-icon-left">
          <i class="icon ion-ios-basketball"></i>
          Deportes
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/infantil" class="item item-icon-left">
          <i class="icon ion-happy-outline"></i>
          Infantil
        </ion-item>
        <div class="item item-divider">
            <!-- Información -->
        </div>
        <ion-item nav-clear menu-close href="#/app/team" class="item item-icon-left" >
          <i class="icon ion-hammer"></i>
          Equipo de Desarrollo
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about" class="item item-icon-left" >
          <i class="icon ion-information-circled"></i>
         Acerca de
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
