<ion-view view-title="{{evento.title.value}}">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar item-text-wrap item-icon-left assertive">
        <img ng-show="evento.image" ng-src="http:{{evento.image.value}}">
        <img class="detail-thumb" ng-hide="evento.image" src='https://raw.githubusercontent.com/jrub/LaAgendica/master/resources/favicon-32x32.png'/>
        <h2>{{evento.title.value}}</h2>
        <h3 class="evpre" ng-show="evento.lugar.value">{{evento.lugar.value}}</h3>
      </div>

      <div class="detalle item item-body">
        <img class="evimage" ng-show="evento.image" ng-src="http:{{evento.image.value}}"/>
        <img class="evimage" ng-hide="evento.image" src='https://raw.githubusercontent.com/jrub/LaAgendica/master/resources/icon.png'/>

        <div class="second">
          <div class="evpre" ng-bind-html="evento.description.value"></div>
        </div>

        <div class="first">
          <h3 class="liso">Horario: </h3>
            <div class="evpre pegado" ng-show="evento.horario.value" ng-bind-html="evento.horario.value"></div>
            <p ng-hide="evento.horario.value">Horario no disponible</p>
            <div ng-show="evento.startDate.value != evento.endDate.value" class="evpre pegado">Desde: {{evento.startDate.value | date:'fullDate'}} <br>Hasta: {{evento.endDate.value | date:'fullDate'}}</div>
            <div ng-show="evento.startDate.value == evento.endDate.value" class="evpre pegado">El {{evento.startDate.value | date:'fullDate'}}</div>
          <h3 class="liso">Precio: </h3>
            <div class="evpre pegado" ng-show="evento.precio.value" ng-bind-html="evento.precio.value"></div>
            <div class="evpre pegado" ng-hide="evento.precio.value">Información no disponible</div>
          <h3 class="liso">Dirección: </h3>
            <div class="evpre pegado" ng-show="evento.lugar.value">{{evento.lugar.value}} <br> {{evento.direccion.value}}</div>
            <div class="evpre pegado" ng-show="evento.phone.value">{{evento.phone.value}}</div>
            <p ng-hide="evento.lugar.value">Información no disponible</p>
        </div>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="gestionarFavorito(evento)" >
          <i class="icon ion-star" ng-class="{energized: evento.fav}"></i>
            Favorito
        </a>
        <a class="tab-item" ng-click="shareFn('Echa un vistazo a este evento que encontré en @LaAgendica #Zaragoza #LaAgendica', evento.uri.value)">
          <i class="icon ion-share"></i>
          Compartir
        </a>
        <a class="tab-item" ng-click="abrir(evento.uri.value)">
          <i class="icon ion-earth"></i>
          Ver Web
        </a>
        <a ng-show="evento.latitud" class="tab-item" ng-click="navigate(evento.latitud.value, evento.longitud.value)">
          <i class="icon ion-map"></i>
          Ruta
        </a>
      </div>

    </div>
    <br/><br/>
  </ion-content>
</ion-view>
