<ion-view view-title="La Agendica - Equipo">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="miembro in members">
        <div class="list card">

              <div class="item item-avatar">
                <img src="{{miembro.imagenPerfil}}">
                <h2>{{miembro.nombre}}</h2>
                <p>{{miembro.rolTecnico}}</p>
              </div>

              <div class="item item-body">
                <pre class="evpre" ng-bind-html="miembro.descripcion"></pre>
              </div>

              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="abrir('{{miembro.twitter}}')">
	              <i class="icon ion-social-twitter-outline"></i>
	              Twitter
                </a>
                <a class="tab-item" ng-click="abrir('{{miembro.github}}')">
                  <i class="icon ion-social-octocat"></i>
                  Github
                </a>
                <a class="tab-item" ng-click="abrir('{{miembro.web}}')">
                  <i class="icon ion-android-globe"></i>
                  Web
                </a>
              </div>

            </div>
      </ion-item>
    </ion-list>
    <pre class="evpre nobottom" style="padding: 16px;">
Nuestro agradecimiento a <a href='' ng-click="abrir('http://www.conmisojos.com')">Fernando Sánchez</a> por el diseño del logo de LaAgendica y la ayuda con la realización del vídeo promocional. ¡Mil gracias Fer!
    </pre>
  </ion-content>
</ion-view>
