/* Empty. Add your own CSS if you like */
.evimage {
  max-width: 100%;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
.evpre {
	color: #666;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
    padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Helvetica Neue", "Roboto", sans-serif;
}
.item-thumbnail-left .item-content{
  padding-top: 26px;
  padding-right: 20px;
}
#map {
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}