/* Empty. Add your own CSS if you like */
.evimage {
  max-width: 100%;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
.evpre {
	color: #666;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
    padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Helvetica Neue", "Roboto", sans-serif;
}